name: Lunardi Reposts
on:
  schedule:
    - cron: "0 4,15,20 * * 1"
    - cron: "0 4,15 * * 2"
    - cron: "0 18 * * 3"
    - cron: "0 2 * * 4"
    - cron: "0 16 * * 4"
    - cron: "0 2 * * 5"
    - cron: "0 18 * * 5"
    - cron: "0 2 * * 6"
    - cron: "0 15 * * 6"
    - cron: "0 2 * * 0"
    - cron: "53 2 * * 0"
    - cron: "0 14 * * 0"
    - cron: "0 20 * * 0"
    - cron: "0 0 * * 1"   # 21:00 domingo SP
    - cron: "5 3 * * 0"   # 00:05 domingo SP
  workflow_dispatch:

# update to refresh cron

jobs:
  repost:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - run: pip install tweepy pytz colorama schedule
    - run: python repost_one_run.py
      env:
        BEARER_TOKEN: ${{ secrets.BEARER_TOKEN }}
        API_KEY: ${{ secrets.API_KEY }}
        API_SECRET: ${{ secrets.API_SECRET }}
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        ACCESS_TOKEN_SECRET: ${{ secrets.ACCESS_TOKEN_SECRET }}
